<?xml version="1.0" encoding="utf-8"?>
<AppOptions xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/MHUrho.StartupManagement">
  <UnitDrawDistance>200</UnitDrawDistance>
  <ProjectileDrawDistance>200</ProjectileDrawDistance>
  <TerrainDrawDistance>200</TerrainDrawDistance>
  <Resolution>
    <Value xmlns:d3p1="http://schemas.datacontract.org/2004/07/Urho">
      <d3p1:X>1024</d3p1:X>
      <d3p1:Y>768</d3p1:Y>
    </Value>
  </Resolution>
  <Fullscreen>false</Fullscreen>
  <Borderless>false</Borderless>
  <Resizable>false</Resizable>
  <HighDPI>false</HighDPI>
  <VSync>false</VSync>
  <TripleBuffer>false</TripleBuffer>
  <Multisample>1</Multisample>
  <Monitor>0</Monitor>
  <RefreshRateCap>0</RefreshRateCap>
  <DebugHUD>true</DebugHUD>
  <CameraScrollSensitivity>10</CameraScrollSensitivity>
  <CameraRotationSensitivity>10</CameraRotationSensitivity>
  <MouseRotationSensitivity>0.5</MouseRotationSensitivity>
  <ZoomSensitivity>10</ZoomSensitivity>
  <MouseBorderCameraMovement>true</MouseBorderCameraMovement>
</AppOptions>